/.idea/
/.parcel-cache/
/.vale-styles/
/.vale.ini
/dist/
/node_modules/
/.env.local
/pgdata
/pgdata-bridge
/pgdata-portal
/swagger_output.json
/db/**/client
/src/generated-typings/
/artifacts/
/typechain-types/
gasReport.txt